body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 40px;
  }
  
  .dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard-info {
    flex-basis: 50%;
    padding: 20px;
  }
  
  .dashboard-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .dashboard-info p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .dashboard-image {
    flex-basis: 40%;
    text-align: center;
  }
  
  .dashboard-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
services {
  text-align: center;
  padding: 40px 0;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item {
  /*display: inline-block;
  width: calc(25% - 40px);*/
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  
}

/* Contact button styles */
.cta-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #0056b3;
}

/* Contact section styles */
#contact {
  text-align: center;
  padding: 40px 0;
}
footer {
    text-align: center;
    background-color: #007bff; /* Match header background color */
    color: #fff;
    padding: 40px;
  }
  
  footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  footer p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  #subscribe-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #subscribe-form div {
    margin-bottom: 10px;
  }
  
  #subscribe-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff; /* Match header text color */
  }
  
  #subscribe-form input[type="email"],
  #subscribe-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff; /* Match header text color */
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }
  
  #subscribe-form button {
    padding: 10px 20px;
    background-color: #fff; /* Match header background color */
    color: #007bff; /* Match header text color */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #subscribe-form button:hover {
    background-color: #0056b3; /* Slightly darker shade for hover effect */
  }